/*******************************************************
* Proof Tree
*******************************************************/

div.prooftree,
div.prtr-proof-tree {
  /* all: unset; */
  width: fit-content;
  /* margin: 0 20px; */
  margin: 20px auto;
}

div.prtr-sequent {
  width: auto;
  text-align: center;
  /* border: 1px dotted lightgreen; */
  /* margin: 5px 0px; */
}

/* div.prtr-conclusion { */
/*   border: 1px dotted red; */
/*   background: lightblue; */
/* } */

/* div.prtr-premise { */
/*   border: 1px solid blue; */
/*   background: lightblue; */
/* } */

div.prtr-premises {
  /* width: 100%; */
  width: auto;
  display: flex;
  flex-direction: row; /* 縦方向のflexを使う */
  gap: 20px;
  /* border: 1px solid cyan; */
  align-items: flex-end;
  /* background: lightcyan; */
}

div.prtr-horizontal-rule {
  width: 100%;
  border-bottom: 2px solid blue;
  border-bottom: 1.3px solid;
  position: relative;
}

div.prtr-horizontal-rule > .prtr-right-label {
  position: absolute;
  /* top: -0.5rem; */
  height: auto;
  top: -50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
